@import '../style/variable.scss';
@import '../style/ui.scss';

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
}

/* html {} */

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $mainBackground;
}


span,
b,
h2,
h3,
h4,
h5 {
	color: $addBackground;

	&>span {
		color: $addBackground;
	}
}



a {
	text-decoration: none;
	color: $colorGreyText;

	&>span {
		color: $addBackground;
	}
}



h1 {
	color: $colorBlackText;
	font-size: 4em;

	&>span {
		color: $addBackground;
	}
}

h2 {
	color: $colorBlackText;
	font-size: 3em;

	&>span {
		color: $addBackground;
	}
}

p {
	color: $colorGreyText;
	opacity: 0.7;

	&>span {
		color: $addBackground;
	}
}

li {
	color: $colorGreyText;
	opacity: 0.7;
	text-decoration: dotted;

	&>span {
		color: $addBackground;
	}
}

body {
	background-color: $mainBackground;

	&::-webkit-scrollbar {
		width: 5px;
	}
}

button {
	outline: none;
	transition: .4s;
	cursor: pointer;
}