@import '../style/variable.scss';
@import '../style/ui.scss';

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
}

/* html {} */

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $mainBackground;
}

a,
span,
b,
h1,
h2,
h3,
h4,
h5 {
	color: $colorSpanText;

	&>span {
		color: $addBackground;
	}
}



a {
	text-decoration: none;

}

p {
	color: $colorGreyText;

	&>span {
		color: $addBackground;
	}
}

body {
	background-color: $mainBackground;

	&::-webkit-scrollbar {
		width: 5px;
	}
}

button {
	outline: none;
	transition: .4s;
	cursor: pointer;
}