@import '../style/variable.scss';

.emptyButton {
	background: none;
	color: $colorBlackText;
	padding: 17px;
	border-radius: 15px;
	font-weight: 700;

	&:hover {
		background: $addBackground;
		color: $colorWhiteText;
	}
}

.fullButton {
	background: $addBackground;
	color: $colorWhiteText;
	padding: 15px;
	border-radius: 15px;
	font-weight: 700;
	border: 2px solid $addBackground;

	&:hover {
		background: none;
		color: $colorBlackText;

	}
}

.borderButton {
	background: none;
	color: $addBackground;
	padding: 15px;
	border-radius: 15px;
	border: 2px solid $addBackground;
	font-weight: 700;

	&:hover {
		background: $addBackground;
		color: $colorWhiteText;
	}
}


.healthy {
	color: #DAA31A;
	background: #F7EDD0;
	font-size: 12px;
	font-weight: 400;
	padding: 2px 5px;
	border-radius: 6px;
}

.trending {
	color: #FB471D;
	background: #F7C5BA;
	font-size: 12px;
	font-weight: 400;
	padding: 2px 5px;
	border-radius: 6px;
}

.supreme {
	color: #309D5B;
	background: #b7ffd4;
	font-size: 12px;
	font-weight: 400;
	padding: 2px 5px;
	border-radius: 6px;
}