$mainBackground: #FFFFFF;
$addBackground: #6C5FBC;
$buttonBackground: #323142;


$colorWhiteText: #F9F9F9;
$colorGreyLine: rgb(103, 103, 103, 0.4);
$colorGreyText: rgb(103, 103, 103, 0.8);
$colorBlackText: #18181B;
$colorSpanText: #5C4EAE;